body {
    font-family: Arial, Helvetica, sans-serif;

}



/* 
 ****************************
    Estilo da NavBAr
 ****************************
*/

.sideBar {
    height: 100%;
    width: 10%;

    /* Stay in place */
    position: fixed;
    
        /* Stay on top */
    z-index: 1;

        /* Stay at the top */
    top: 0;

    background-color: #037B4A;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;

    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.logoPosition {
    padding-left: 25%;
    padding-top: 10%;
}

.sideBar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;

}

.sideBar a:hover {
    text-shadow: 2px black;
    
}

/* 
 ****************************
    Estilo dos quadrados 
 ****************************
*/
.cardButton {

    height: 150px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    background-color: #209D6A;
    border-radius: 10px;
    padding-top: 60px;
   
}

.cardButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.cardButton h3 {
    color: white;
}

h1 {
    color: #209D6A;
}
