<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.singularity.ipcaplus">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPCA">
        <activity
            android:name=".chat.CreateChatActivity"
            android:exported="true" />
        <activity
            android:name=".chat.ChatFilesActivity"
            android:exported="false" />
        <activity
            android:name=".TermsAndCondictionsActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatMembersActivity"
            android:exported="false" />
        <activity
            android:name=".chat.VerifySecurityNumberActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatMoreActivity"
            android:exported="false" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name=".drawer.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".drawer.NewsWebActivity"
            android:exported="false" />
        <activity
            android:name=".drawer.ContactsActivity"
            android:exported="false" />
        <activity
            android:name=".drawer.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".drawer.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".drawer.AddEventActivity"
            android:exported="false" />
        <activity
            android:name=".drawer.DrawerActivty"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.IPCA.NoActionBar" />
        <activity
            android:name=".chat.SearchActivity"
            android:exported="true"
            android:label="SearchActivity"
            android:theme="@style/Theme.IPCA.NoActionBar" />
        <activity
            android:name=".AddButtonActivity"
            android:exported="true"
            android:label="AddButtonActivity"
            android:theme="@style/Theme.IPCA.NoActionBar" />
        <activity
            android:name=".AddPeopleActivity"
            android:exported="true"
            android:label="AddButtonActivity"
            android:theme="@style/Theme.IPCA.NoActionBar" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.IPCA.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>